body {
    font-family: "Be Vietnam Pro";
    margin: 0;
    width: 100%;
    background-color: white;
    font-weight: 300;
}
section {
    background-color: #e0f2f1
}
h1, h2 {
    margin: 0;
}
.main {
    height: 368px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.resized-image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
/* Erhverv-sektion */
.erhverv-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Sørger for, at kortene tilpasser sig små skærme */
    background-color: #e0f2f1;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.card p {
    margin-top: 8px;
    color: #757575;
    font-size: 15px;
}
.card {
    background-color: white;
}
.card h2 {
    font-size: 20px;
    font-weight: 500;
}
.intro-heading {
    font-size: 2.5rem;
    color: #00796b;
}
.flex-container-collumn{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    padding: 20px 10%;
}
.flex-container-collumn h2, p{
    margin: 0;
    width: fit-content;
}
.intro-text {
    margin-bottom: 20px;
}

.card .btn {
    background-color: #76b66c;
    padding: 12px 30px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.3s;
}

.card .btn:hover {
    background-color: #82c675;
}
