body {
    font-family: "Be Vietnam Pro";
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    font-weight: 300;
}

h1, h2 {
    margin: 0;
}

/*  main photo and text on photo*/
.main-content {
    height: 368px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.main-content img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.image-text {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    left: calc(50% - 480px);
}
.main-heading {
    color: black;
    font-size: 64px;
    font-weight: 500;
}
.secondary-heading {
    width: fit-content;
}
.under-heading {
    display: flex;
    gap: 5px;
}
.under-heading h2{
    font-size: 1em;
    font-weight: 400;
}
.highlighted-h2 {
    min-width: 57px;
    max-height: fit-content;
    background-color: #a2ba96;
    text-align: center;
}
/*  main photo and text finish  */
/*  cards */
    /* cards container  */
.cards {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    gap: 28px;

}
    /*  individual card settings */
.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    padding: 20px;
    gap: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;

}
#index-cards {
    margin-bottom: 34px;
}
.card:hover {
    transform: translateY(-10px);
}
.card img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 160px;
}
.card-text p {
    margin-top: 8px;
    color: #757575;
    font-size: 15px;
}
.card-text h2{
    font-size: 20px;
    font-weight: 500;
}

/*  cards finish    */




