

body {
    font-family: "Be Vietnam Pro";
    margin: 0;
    width: 100%;
    background-color: white;
    font-weight: 300;
}

h1 {
    margin: 0;
}
.header {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: white;
}
.nav-buttons a{
    text-decoration: none;
    color: black;
    margin-right: 50px;
    padding: 8px;
}
.nav-buttons a:hover,
.nav-buttons a:focus,
.nav-buttons a:active {
    background-color: #F5F5F5;
    border-radius: 8px;
    color: #656565;
}


#register {
    background-color: #638C2B;
    border: none;
    color: white;
}
.nav-reg-buttons {
    display: flex;
    align-items: center;
    min-width: 220px;
    justify-content: space-around;
}
.nav-reg-buttons a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #89BF3F;
    border-radius: 8px;
}
.nav-buttons {
    display: flex;
    align-items: center;
    margin-left: 97px;
    margin-right: 97px;

}
.logo-text {
    font-size: 16px;
    max-width: 88px;
    text-transform: uppercase;
    color: #89BF3F;
    margin-left: 6px;
    margin-right: 24px;
}
.nav {
    display: flex;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
}


