<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danmark Mod Madspil</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="nav">
        <div class="full-logo">
            <img src="/img/environmental-icon%201.svg" alt="earth with leaves">
            <h1 class="logo-text"><em>Danmark mod madspil</em></h1>
        </div>
        <div class="nav-buttons">
            <a href="madspild.html">Forside</a>
            <a href="dashboard.html">Privat</a>
            <a href="#">Erhverv</a>
            <a href="#">Organisation</a>
            <a href="#">Kontakt</a>
        </div>
        <div class="nav-reg-buttons">
            <a id="sign-in" href="#">Sign in</a>
            <a id="register" href="#">Register</a>
        </div>
    </div>
</header>
<div class="content">
    <div class="flex-container">
        <div class="profile-wrapper">
            <div class="profile-card">
                <div class="profile-logo">
                    <img src="/img/cena.png">
                </div>
                <div class="profile-header">

                </div>
                <div class="profile-content">
                    <h2>John Cena</h2>
                    <p>Student at KEA</p>
                    <p>Copenhagen, Capital Region of Denmark</p>
                </div>
            </div>
        </div>
        <div class="flex-container-collumn">
            <div class="private-buttons-wrapper">
                <div class="nav-buttons private-buttons">
                    <a href="profile.html">Profil</a>
                    <a href="#">Ordre</a>
                    <a href="#">Tidligere bestillinger</a>
                    <a href="#">Indstillinger</a>
                </div>
            </div>

        </div>
        <div class="dashboard">
            <h2 id="cards-header">Tilmeldte kort</h2>
            <div class="credit-cards">
                <div class="credit-card">
                    <div class="credit-card-header">
                        <p>Credit</p>
                        <img src="/img/visa.png">
                    </div>
                    <div class="credit-card-footer">
                        <p>John Cena</p>
                        <p>**** - **** - **** - 5346</p>
                    </div>

                </div>
                <div id="debit" class="credit-card">
                    <div class="credit-card-header">
                        <p>Debit</p>
                        <img src="/img/mastercard.png">
                    </div>
                    <div class="credit-card-footer">
                        <p>John Cena</p>
                        <p>**** - **** - **** - 4452</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<footer>
    <div class="footer">
        <div class="footer-cards">
            <div class="footer-card">
                <div class="full-logo">
                    <img src="/img/environmental-icon%201.svg" alt="earth with leaves">
                    <h1 class="logo-text"><em>Danmark mod madspil</em></h1>
                </div>
                <div class="footer-social-media">
                    <img src="/img/x.png">
                    <img src="/img/insta.png">
                    <img src="/img/yt.png">
                </div>
            </div>
            <div class="footer-card">
                <h2>Giv et bidrag</h2>
                <p>Støt nu</p>
                <p>Støt som virksomhed</p>
                <p>Webshop</p>
            </div>
            <div class="footer-card">
                <h2>Ressourcer</h2>
                <p>Dokumentation</p>
                <p>Guide</p>
                <p>Forskning</p>
            </div>
            <div class="footer-card">
                <h2>Kontakt</h2>
                <p>Guldbergsgade 29N<br>2200 København<br>danmarkmodmadspil@gmail.com</p>
            </div>
        </div>
    </div>
</body>
</html>