<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Erhverv</title>
  <link rel="stylesheet" href="/static/erhverv.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="/static/header.css">
  <link rel="stylesheet" href="/static/footer.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <div class="nav">
    <div class="full-logo">
      <img src="/img/environmental-icon%201.svg" alt="earth with leaves">
      <h1 class="logo-text"><em>Danmark mod madspild</em></h1>
    </div>
    <div class="nav-buttons">
      <a href="index.html">Forside</a>
      <a href="private.html">Privat</a>
      <a href="erhverv.html">Erhverv</a>
      <a href="organisation.html">Organisation</a>
      <a href="#">Kontakt</a>
    </div>
    <div class="nav-reg-buttons">
      <a id="sign-in" href="#">Log ind</a>
      <a id="register" href="#">Opret bruger</a>
    </div>
  </div>
</header>
<div class="main">
  <img src="/img/mm.png" alt="madspild" class="resized-image">
  </div>
<section class="erhverv-intro">
  <div class="card-container">
    <div class="flex-container-collumn">
      <h2 class="intro-heading">Gør en forskel som virksomhed</h2>
      <p class="intro-text">
        Som virksomhed kan I bidrage til kampen mod madspild ved at blive en del af vores mission.
        Gennem partnerskaber kan I støtte bæredygtige løsninger, genbruge overskydende fødevarer og hjælpe med at skabe en grønnere fremtid.
        Tilmeld jer i dag og vær med til at gøre en positiv forskel for miljøet og samfundet!
      </p>
    </div>
  </div>

</section>

  <section class="erhverv-section">
    <div class="card-container">
      <div class="card">
        <img src="/img/aa.jpg" alt="Wefood Partner">
        <div class="card-text">
          <h2>Bliv Wefood partner</h2>
          <p>Har I overskydende fødevarer eller andre varer? Vi tilbyder et partnerskab, hvor I kan blive en del af vores butikskoncept: Wefood.</p>
        </div>
        <a href="#" class="btn">LÆS MERE OM WEFOOD</a>
      </div>
      <div class="card">
        <img src="/img/ww.jpg" alt="Støt som virksomhed">
        <div class="card-text">
          <h2>Støt som virksomhed</h2>
          <p>Gør en forskel ved at støtte vores mission. Som virksomhed kan I bidrage til at bekæmpe madspild og støtte bæredygtige løsninger, der gør en positiv forskel for miljøet og samfundet.</p>
        </div>
        <a href="#" class="btn">Støt vores mission</a>
      </div>
      <div class="card">
        <img src="/img/bb.jpg" alt="Frivillig bidrag">
        <div class="card-text">
          <h2>Bliv frivillig</h2>
          <p>Gør en forskel i dit lokalområde ved at blive frivillig. Hjælp os med at mindske madspild ved at redde overskydende fødevarer </p>
        </div>
        <a href="#" class="btn">Læs om frivillig muligheder</a>
      </div>

    </div>
  </section>

<footer>
  <div class="footer">
    <div class="footer-cards">
      <div class="footer-card">
        <div class="full-logo">
          <img src="/img/environmental-icon%201.svg" alt="earth with leaves">
          <h1 class="logo-text"><em>Danmark mod madspil</em></h1>
        </div>
        <div class="footer-social-media">
          <img src="/img/x.png">
          <img src="/img/insta.png">
          <img src="/img/yt.png">
        </div>
      </div>
      <div class="footer-card">
        <h2>Giv et bidrag</h2>
        <p>Støt nu</p>
        <p>Støt som virksomhed</p>
        <p>Webshop</p>
      </div>
      <div class="footer-card">
        <h2>Ressourcer</h2>
        <p>Dokumentation</p>
        <p>Guide</p>
        <p>Forskning</p>
      </div>
      <div class="footer-card">
        <h2>Kontakt</h2>
        <p>Guldbergsgade 29N<br>2200 København<br>danmarkmodmadspil@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>