<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danmark Mod Madspild</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>

    <header>
    <div class="nav">
        <div class="full-logo">
            <img src="/img/environmental-icon%201.svg" alt="earth with leaves">
            <h1 class="logo-text"><em>Danmark mod madspil</em></h1>
        </div>
        <div class="nav-buttons">
            <a href="#">Forside</a>
            <a href="#">Privat</a>
            <a href="#">Erhverv</a>
            <a href="#">Organisation</a>
            <a href="#">Kontakt</a>
        </div>
        <div class="nav-reg-buttons">
            <a id="sign-in" href="#">Sign in</a>
            <a id="register" href="#">Register</a>
        </div>
    </div>
    </header>
    <div class="main-content">
    <img src="/img/bckg-img.png" alt="food waste">
    <div class="image-text">
        <div class="empty-wrapper">
            <h1 class="main-heading">I mod madspil</h1>
            <div class="under-heading">
                <div class="secondary-heading">
                    <h2>Hver dag bliver der smidt næsten</h2>
                    <h2>tons af madvarer ud af Danmark</h2>
                </div>
                <h2 class="highlighted-h2">2.000</h2>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="cards">
            <div class="card">
                <img src="/img/card3.png">
                <div class="card-text">
                    <h2>Bliv klogere</h2>
                    <p>
                        Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="/img/card2.png">
                <div class="card-text">
                    <h2>Samarbejde</h2>
                    <p>
                        Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="/img/card1.png">
                <div class="card-text">
                    <h2>Doner</h2>
                    <p>
                        Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story.
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>