<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Danmark Mod Madspild</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/privat.css">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="nav">
        <div class="full-logo">
            <img src="/img/environmental-icon%201.svg" alt="earth with leaves">
            <h1 class="logo-text"><em>Danmark mod madspild</em></h1>
        </div>
        <div class="nav-buttons">
            <a href="index.html">Forside</a>
            <a href="privat.html">Privat</a>
            <a href="#">Markedsplads</a>
            <a href="#">Fællesskab</a>
        </div>
        <div class="nav-reg-buttons">
            <div class="nav-profile-logo">
                <img src="/img/cena.png">
            </div>
            <p>John,</p>
            <a id="register" href="#">Log ud</a>
        </div>
    </div>
</header>
<div class="content">
    <div class="flex-container">
            <div class="private-buttons-wrapper">
                <div class="nav-buttons private-buttons">
                    <a href="profile.html">Profil</a>
                    <a href="#">Ordrer</a>
                    <a href="#">Beskeder</a>
                    <a href="#">Indstillinger</a>
                </div>
            </div>
            <div class="profile-wrapper">
                <div class="flex-container-collumn">
                    <div class="card-text">
                        <h2>Nyheder:</h2>
                    </div>
                    <div class="card news-card">
                        <img src="/img/nyhed1.jpg">
                        <div class="card-text">
                            <h2>Udforsk byen</h2>
                            <p>
                                historiske kvarterer til smukke parker og lokale markeder. Tag del i fællesskabet, og find de skjulte perler, der gør byen unik.
                            </p>
                        </div>
                    </div>
                    <div class="card news-card">
                        <img src="/img/nyhed2.jpg">
                        <div class="card-text">
                            <h2>Rejs med omtanke</h2>
                            <p>
                                Udforsk verden med respekt for naturen og de lokale kulturer. Vælg bæredygtige rejseoplevelser, der efterlader et positivt aftryk og skaber varige minder.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

</div>

<footer>
    <div class="footer">
        <div class="footer-cards">
            <div class="footer-card">
                <div class="full-logo">
                    <img src="/img/environmental-icon%201.svg" alt="earth with leaves">
                    <h1 class="logo-text"><em>Danmark mod madspil</em></h1>
                </div>
                <div class="footer-social-media">
                    <img src="/img/x.png">
                    <img src="/img/insta.png">
                    <img src="/img/yt.png">
                </div>
            </div>
            <div class="footer-card">
                <h2>Giv et bidrag</h2>
                <p>Støt nu</p>
                <p>Støt som virksomhed</p>
                <p>Webshop</p>
            </div>
            <div class="footer-card">
                <h2>Ressourcer</h2>
                <p>Dokumentation</p>
                <p>Guide</p>
                <p>Forskning</p>
            </div>
            <div class="footer-card">
                <h2>Kontakt</h2>
                <p>Guldbergsgade 29N<br>2200 København<br>danmarkmodmadspil@gmail.com</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>